@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cairo:wght@500&family=Comfortaa:wght@300&family=Lato&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@1,500&family=Poppins:ital@1&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Source+Sans+Pro:ital,wght@0,200;1,200;1,300&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,300&display=swap');

.table{
 position: relative;
 top: 200px;
  left: 50px;
 
width: 90%;
height: 100px;
margin-bottom: 40px;
font-size: larger;
font-family: sans-serif;
text-align: center;
font-style: italic;   


}



 .main-div-users{
    display: flex;
    justify-content: space-between;
 
    
}

.th{
    margin: 50px; 
    background-color: rgb(228, 228, 250); 
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    border: grey  1px ;
}

/* #name-n-u{
    margin-left: 180px;
} */

/* 
  .td{
    position: relative;
    left: 90px;
    
}    */
  #delet-h-j{
    margin-left: 15px;
    margin-top: 30px;
    width: 110px; 
    height:40px;
    background-color:rgba(189, 31, 39, 0.781);
    border-radius: 10px;
    border:none;
  font-size: large;
  font-style: italic;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
  opacity: 0.9;

} 
#butn-user-edit{
    margin-left: 10px;
    margin-top: 0px;
    width: 110px; 
    height:40px;
   background-color: seagreen;
    border-radius: 10px;
    border:none;
  font-size: large;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
  opacity: 0.9;
  
   
}
#butn-amount{
width: 140px; 
height: 40px;
text-align: center;
border-radius: 10px;
margin-left: 5px;
background-color: rgba(59, 56, 56, 0.068) ;

}
#name-user{
    color:rgba(0, 0, 0, 0.795) ;
  font-size: larger;
  font-family: sans-serif;
  text-align: center;
  font-style: italic;

}
#price-user{
    color:rgba(0, 0, 0, 0.849) ;
    font-size: larger;
    font-family: sans-serif;
    text-align: center;
    font-style: italic;   
}
#email-user{
    color:rgba(0, 0, 0, 0.842) ;
    font-size: larger;
    font-family: sans-serif;
    text-align: center;
    font-style: italic;   
}
#phone-user{
    color:rgba(0, 0, 0, 0.863) ;
    font-size: larger;
    font-family: sans-serif;
    text-align: center;
    font-style: italic; 
      
}


@media only screen and (max-width: 768px){
.main-div-users{
    width: 380px;
    margin-left: -155px;  
  
} 
.table{
   width: 200px; 
   margin-left: 130px;
  
} .th{

font-size: 10px;
}
#name-user{
 font-size: 10px;
} 
#price-user{
  font-size: 10px; 
}
#email-user{
  font-size: 10px;  
}
#phone-user{
  font-size: 10px;  
}
#delet-h-j{
  width: 40px;
  font-size: 9px;
}
#butn-user-edit{
  width: 40px; 
  font-size: 9px;
}
#butn-amount{
 width: 80px; 
}
}