@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Comfortaa:wght@300&family=Poppins:ital@1&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,300;1,300&family=Source+Sans+Pro:ital,wght@0,200;1,200;1,300&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Comfortaa:wght@300&family=Poppins:ital@1&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto:ital@1&family=Source+Sans+Pro:ital,wght@0,200;1,200;1,300&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,300&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
#the-line {
  width: 100%;
  height: 100vh;
  background-color: rgba(235, 230, 225, 0.007);
}
#img-logo {
  width: 70px;
  height: 90px;
  margin-left: 700px;
  margin-top: 180px;
}

#mohamed {
  margin-top: 80px;
  margin-left: 500px;
  margin-bottom: 70px;
  font-size: xx-large;
  color: rgba(27, 24, 24, 0.719);
  font-style: italic;
}
#royle {
  margin-top: 30px;
  margin-left: 750px;
  color: rgba(27, 24, 24, 0.473);
  margin-bottom: 70px;
  font-family: sans-serif;
  font-style: italic;
  font-size: large;
}
#Crown {
  margin-top: 30px;
  margin-left: 350px;
  color: rgba(27, 24, 24, 0.719);
  margin-bottom: 150px;
  font-family: sans-serif;
  font-style: italic;
}

#cearsh {
  /* position: absolute;
     left: 600px;
    margin: 30px;*/
  width: 500px;
  height: 40px;
  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: -30px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  border: 0.03px gray solid;
}
#search-main {
  margin-left: 970px;
  margin-top: 1px;
}

.insertadmin {
  display: flex;
  flex-direction: column;
 margin-left: 600px;
  margin-bottom: 60px;
}
.input {
  margin: 5px;
  width: 330px;
  height: 45px;
  border-radius: 7px;
  border: gray 1px solid;
  text-align: center;
}
.lable {
  margin-top: 15px;
}
#add {
  width: 100px;
  height: 45px;
  margin-top: 10px;
  margin-left: 110px;
  border: none;
  border-radius: 7px;
  color: rgba(27, 24, 24, 0.904);
  font-style: italic;
  font-size: large;
  font-family: sans-serif;
  background-color: green;
  opacity: 0.9;
}
#NEOM-Resorts {
  margin-left: 599px;
  margin-top: 200px;
  font-size: xx-large;
  color: rgba(27, 24, 24, 0.719);
  font-style: italic;
}
#map {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 200px;
  width: 100%;
}
#img-regoin {
  width: 1100px;
  height: 700px;
  margin-left: 200px;
  box-shadow: 0px 15px -10px 21px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.5);
}
#name-theline {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 650px;
  font-size: xx-large;
  color: rgba(27, 24, 24, 0.904);
  font-style: italic;
}

#desc-theline {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 60px;
  font-size: xx-large;
  color: rgba(27, 24, 24, 0.904);
  font-style: italic;
}
#delet-theline {
  margin-left: 1280px;
  width: 85px;
  height: 45px;
  margin-bottom: -130px;
  border: none;
  border-radius: 7px;
  color: rgba(27, 24, 24, 0.904);
  font-style: italic;
  font-size: large;
  font-family: sans-serif;
  background-color:rgba(189, 31, 39, 0.781);
  opacity: 0.9;
}
#form-theline {
   display: flex;
  flex-direction: column;
  align-items: center; 
  /* margin-left: 200px;  */
}
#input-theline-up {
  margin: 20px;
  text-align: center;
  border-radius: 7px;
  width: 200px;
  height: 30px;
  height: 30px;
  border: gray 1px solid;
}
#input-theline-updes {
  margin: 20px;
  text-align: center;
  border-radius: 7px;
  width: 200px;
  height: 30px;
  height: 30px;
  border: gray 1px solid;
  box-shadow: grey;
}
#input-theline-img {
  margin: 20px;
  text-align: center;
  border-radius: 7px;
  width: 200px;
  height: 30px;
  border: gray 1px solid;
  box-shadow: grey;
}
#edetheline {
  margin-left: -5px;
  width: 85px;
  height: 45px;
  border: none;
  border-radius: 7px;
  color: rgba(27, 24, 24, 0.904);
  font-style: italic;
  font-size: large;
  font-family: sans-serif;
  background-color: green;
  opacity: 0.9;
}
#update-theline {
  margin-left: 690px;
  margin-bottom: 30px;
  border-radius: 7px;
  width: 100px;
  height: 45px;
  border: none;
  color: rgba(27, 24, 24, 0.904);
  font-style: italic;
  font-size: large;
  font-family: sans-serif;
  background-color: green;
  opacity: 0.9;
}
#fivert {
  margin-left: 1272px;
  border-radius: 7px;
  width: 90px;
  height: 45px;
  border: none;
  margin-bottom: 10px;
}
#fivert:hover{
  background-color: red;
}

video {
  width: 100%;
  height: auto;
}
#rrredd{
color:grey;
}


.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

label:hover{
  background: var(--primary);
  color: white;
}
@media only screen and (max-width: 768px){

#img-logo{
  margin-left: 171px;
  margin-top: 10px;
}
#mohamed {
  width: 354px;
  margin-left: 17px;
  margin-top: 10px;
}
#NEOM-Resorts{

 width: 354px;
  margin-left: 17px;
  margin-top: 10px;
}
#cearsh{
  width: 354px;
  margin-left: 17px;
  margin-top: 10px;

}
#search-main{
  margin-left: 336px;
}
#img-regoin{
  margin-left: 17px;
    height: 326px;
    width: 357px;
    margin-top: -42px;
  }
#update-theline{
  margin-left: 153px;
  margin-top: -248px;
  background: #0bd7d7;
}
#form-theline {
  display: flex;
    flex-direction: column;
}
#edetheline{
  margin-left: 6px;
    margin-top: -44px;
    width: 74px;
    height: 37px;
}
.insertadmin{
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  margin-top: -49px;
}
  #add{
    margin-left: 136px;
    margin-top: 21px;
    background: #0bd7d7;
  }
  #fivert{
    margin-left: 32px;
  }    
  #delet-theline{
    margin-left: 32px;

  }
  #name-theline{
    margin-left: 85px;

  }
}
